ion-toolbar{
    --background:rgb(0, 4, 255);
}
ion-content{
    #card1{
        margin-top: 50px;
        height: auto;
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
        border-radius:25px;
    }
    #ingresar{
        margin-top: 50px;
    }
    #olvidar{
        margin-top: 25px;
    }
}