ion-toolbar{
    --background:rgb(0, 255, 234);
}

ion-content{
    #card{

        height:500px;
        width: 300px;    
        margin-top:70px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
    } 

#inicio{
    margin-top:35px;

}
#registro{
    margin-top:70px;
}
}