ion-toolbar{
    --background:rgb(233, 229, 10);
}

ion-content{
    --background:rgb(42, 29, 221);
    #card{

        height:500px;
        width: 300px;    
        margin-top:70px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
    } 

#inicio{
    margin-top:35px;

}
#registro{
    margin-top:70px;
}
}